/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* REGOLE GENERALI */

:root {
    --black: #000000;
    --semiblack: rgba(0,0,0,.4);
    --grey: #282828;
    --lightgrey: #a3a3a3;
    --darkblue: #141922;
    --white: #ffffff;
}

body {
    display: flex;
    flex-flow: row wrap;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}



/* POSIZIONAMENTO E DIMENSIONI DEI CONTENITORI DELLE VARIE SEZIONI */

.banner { /* Banner in alto con collegamento a premium */
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 15rem);
    height: 5rem;
    z-index: 9;
}

header { /* Header impostato verticalmente a destra */
    width: 15rem;
    height: calc(100vh - 5rem);
}

main { /* Sezione principale della webapp */
    width: calc(100% - 15rem);
    height: calc(100vh - 5rem);
    background-color: var(--darkblue);
    overflow: auto;
    padding: 6rem 1rem 1rem 1rem;
}

footer { /* Barra dei comandi in basso */
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--grey);
}



/* BANNER IN ALTO CON COLLEGAMENTO A PREMIUM */

.banner {
    background-color: var(--semiblack);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner button {
    font-size: .7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
    background: none;
    border: 1px solid var(--white);
    border-radius: 3rem;
    margin-right: 2rem;
    padding: 1em 3em;
    cursor: pointer;
}

.banner button:hover {
    transform: scale(1.1);
}



/* HEADER LATERALE */

header {
    background-color: var(--black);
    padding: 0 1rem;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

header .button-header {
    margin: .5rem 0;
    font-size: 1rem;
    background: none;
    border: none;
    font-weight: 600;
    color: var(--lightgrey);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
}

header .button-header-selected {
    color: var(--white);
}

header .button-header span {
    margin-left: .5rem;
}

header .button-header img {
    height: 25px;
}

.header-top {
    min-height: 400px;
    max-height: 600px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.header-top .logo {
    height: 5rem;
    padding: 1rem 0;
}

.header-top .logo img {
    width: 150px;
}

/* Menu sezioni */

.header-top .menu-sections {
    margin-bottom: 1rem;
}

.header-top .menu-sections ul {
    list-style: none;
}

.header-top .menu-sections li {
    margin: .5rem 0;
}

/* Elenco playlists */

.header-top .playlist h1 {
    font-size: 1rem;
    color: var(--white);
    text-transform: uppercase;
}

.header-top .playlist .button-plus {
    height: 35px;
    width: 35px;
    font-size: 1.9rem;
    background-color: var(--lightgrey);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top .playlist ul {
    list-style: none;
}

.header-top .playlist li {
    margin: 1rem 0;
}

.header-top .playlist a {
    font-weight: 600;
    text-decoration: none;
    color: var(--lightgrey);
}

/* NON FUNZIONA!!!! RIVEDERE */
.header-top .playlist-list {
    overflow-y: auto; 
}

/* Download app */

.header-bottom .button-download img {
    height: 15px;
}

/* Riga orizzontale Header */

.header-bottom hr {
    margin: .8rem 0;
    color: var(--lightgrey)
}

/* Utente */

.header-bottom .user {
    margin-bottom: .5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header-bottom .user img {
    height: 25px;
    width: 25px;
    background-color: var(--lightgrey);
    border-radius: 50%;
}

.header-bottom .user span {
    font-weight: 600;
    color: var(--white);
    margin-left: .5rem;
}



/* SEZIONE MAIN */



/* SEZIONE FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Info brano in riproduzione */

footer .info-track {
    height: 3rem;
    padding-left: .5rem;
    flex-basis: 15rem;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .info-track img {
    height: 100%;
}

footer .info-track .track-artist-and-name {
    margin-left: .5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer .info-track .track-artist {
    font-size: .9rem;
    font-weight: 800;
    color: var(--white);
}

footer .info-track .track-name {
    font-size: .8rem;
    font-weight: 600;
    color: var(--lightgrey);
}

footer .info-track .icon-buttons {
    display: flex;
    flex-flow: row wrap;
}

footer .info-track .icon-button-small {
    background: none;
    border: none;
    margin: .4rem;
    font-size: 1.2rem;
    color: var(--lightgrey);
    cursor: pointer;
}

/* Comandi del player audio */

footer .player-audio {
    height: 4rem;
    flex-basis: 40rem;
    flex-shrink: 1;
    justify-content: center;
    background-color: red;
}

/* Controllo volume */

footer .volume {
    height: 3rem;
    flex-basis: 15rem;
    flex-shrink: 0;
    justify-content: flex-end;
    background-color: red;
}